@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

button:active,
button:focus,
button:target {
  outline: none;
}

@layer components {
  .technology-item {
    @apply mx-auto
      text-4xl
      sm:text-5xl
      md:text-5xl
      lg:text-7xl;
    &.angular {
      color: #bd002e;
    }
    &.react {
      color: #71cbe7;
    }
    &.next {
      color: #69c3f7;
    }
    &.nest {
      color: #e0234e;
    }
  }
}
